.about{
    margin: 80px;
    padding: 50px;
    background-color: #f5f5f5;
    border-radius: 12px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); */
    line-height: 40px;
    box-shadow: 0 8px 14px rgba(255, 116, 17, 0.527);
}
.about h1{
    text-transform: uppercase;
    font-size: 1.3rem;
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 768px) {
    .about{
        margin: 50px;
        padding: 20px;
    }
}