.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 12px;
    padding: 50px;
    margin: 100px;
    line-height: 40px;
    box-shadow: 0 8px 14px rgba(255, 116, 17, 0.648);
}
.home-page h1{
    text-transform: uppercase;
    font-size: 1.3rem;
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 768px) {
    .home-page{
        margin: 40px;
        padding: 50px;
        line-height: 30px;
    }

} 