.search-bar {
  text-align: center;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.search-bar input {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.search-bar input:focus {
  outline: none;
  border-color: #EA6614;
  box-shadow: 0 0 6px rgba(78, 78, 78, 0.5);
}

@media (max-width: 468px) {
  .search-bar {
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }

}